@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sans-serif';
    font-weight: 400;
}

a{
    text-decoration: none;
    color: inherit;
}

/* CHATBOX
=============== */
.chatbox {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 15px auto;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #fff;
    height: 95vh;
    width: 90%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;
}

/* BUTTON */
.chatbox__button {
    text-align: right;
}

.chatbox__send__button {
    display: flex;
    align-items: end;
    justify-content: end;
    margin: auto;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 999;
}

/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    background: orange;
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
    position: relative;
    overflow-anchor: auto !important;
    background-color: white;
   
}

.messages__item {
    height: auto;
    width: fit-content;
    word-wrap: break-word;
    font-weight: 400;
    padding: 15px !important;
}

.sos-pharma-message , .messages__item{
    margin-bottom: 10px;
}

.messages__item--operator {
    font-size: 0.8rem !important;
    margin-left: auto;
    background: #43b75d !important;
    color: #fff !important;

}

.messages__item--visitor{
    font-size: 0.8rem !important;
}


/* HEADER */
.chatbox__header {
    background: #43b75d;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__header--title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.chatbox__image--header--image{
    border-radius: 100%;
    margin-right: 10px;
}

.chatbox__heading--header {
    font-size: 1.2rem;
    color: white;
}

.chatbox__description--header {
    font-size: .9rem;
    color: white;
}

/* Messages */
.chatbox__messages {
    padding: 0 20px;
}

.sos-pharma-message{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
}

.profile-icon img{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin-right: 5px;
    border: 1px solid #43b75d;
}

.messages__item--visitor,
.messages__item--typing {
    border-radius: 20px;
    background: #f6f3f3 !important ;
    color: #202020 !important;
}

.messages__item--operator {
    border-radius: 20px;
    color: white;
}

/* FOOTER */
.chatbox__footer {
    height: 100px;
    max-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    background-color: #fff;
    padding: 15px ;
    /* margin-top: 20px; */
    border-top: 1.5px solid #ccc;
    position: sticky;
    bottom: 0;
}

.chatbox__message__input{
    color: #43b75d;
    width: 90%;
    outline: none;
    outline-color: none;
    outline-width: 0;
    max-width: 90%;
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    overflow-wrap: break-word;
    resize: vertical;
    min-height: 50px;
    height: auto;
    resize:none;
    font-weight: 500;
}

.chatbox__message__input::placeholder {
    font-weight: lighter;
    font-size: 1rem !important;
}


.chatbox__message__input__container {
    display: flex;
    align-items: center;
    border: 1px solid #43b75d;
    border-radius: 5px;
    flex: 1;
    background: #fff;
    margin-right: 10px;
}

.chatbox__send__button img {
    height: 25px;
    width: 25px;
}

.loading-dots{
    color: #202020 !important;
}

.loading-dots:after {
    content: ' . . . ';
    animation: dots 1s steps(5, end) infinite;
}
  
@keyframes dots {
    0%, 20% {
      color: rgba(0,0,0,0);
      text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);}
    40% {
      color: white;
      text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);}
    60% {
      text-shadow:
        .25em 0 0 white,
        .5em 0 0 rgba(0,0,0,0);}
    80%, 100% {
      text-shadow:
        .25em 0 0 white,
        .5em 0 0 white;}
}

.btn-close{
    outline: none !important;
    border: 1px solid #eee !important;
    background: transparent !important;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  
.btn{
    display: block !important;
    border: none;
    outline: none;
    padding: 5px 10px !important;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    margin: 0 5px ;
    transition: 300ms;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: start;
    margin: auto;
}

.btn-success{
    background-color: #43b75d !important;
    color: white !important;
}

/* #f2e46a */
.btn-warning{
    background-color: #f2e46a !important;
    color: #a9a9a9 !important;
}

.btn-danger{
    background-color: #FF0000 !important;
    color: #fff !important;
}

.btn-info{
    background-color: #0096FF !important;
    color: white !important;
}

.btn-secondary{
    background-color: grey;
    color: #202020;
}

.location-dropdown, .pickup-location-dropdown, .drug-quantity-dropdown, .prescription-type{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    border: none;
    background-color: #43b75d;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    transition: 300ms;
    margin: 0 5px; 
}

.disabled{
    background-color: transparent !important;
    cursor: not-allowed;
    color: grey !important;
}

.disabled-button{
    background-color: #eee !important;
    color: #fff !important; 
    border: none !important;
    outline: none !important;
    cursor: not-allowed;
}
.disabled-parent{
    background: #eee !important;
    color: grey !important;
    border: 1px solid grey;
}

.bold-text{
    font-weight: 600;
}



@media screen and (max-width: 600px) {
    .chatbox__support {
        height: 100vh;
        width: 100%;;
    }

    .chatbox {
        margin: auto;
    }

    .chatbox__support {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .chatbox__header {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    
    .messages__item {
        max-width: 90%;
        padding: 5px 10px;
    }

    
    
}
