@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", "sans-serif";
  font-weight: 400;
}

html,
body {
  width: 100vw;
  height: 100%;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: start;
  align-self: start;
  font-weight: 400;
  background: #f1f1f1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container{
    height: 100vh;
    width: 100%;
}

.navbar{
    height: 15vh;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    align-self: center;
    margin: auto;
}

.page-content{
    margin: auto;
    background-color: #fff;
    height: 95vh;
    width: 90%;
    padding: 30px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: space-between;
}

.image-container img{
    flex-grow: 3;
    height: 85vh;
    width: 400px;
}

/* .hide-on-dk {
    display: none !important;
} */

.topnav {
  width: 100%;
  padding: 1rem 0;
  flex-basis: 50px;
  transition: 300ms;
  display: flex;
  align-items: center;
}

.topnav .logo img {
  width: 80px !important;
  height: 80px !important;
  border-radius: 100%;
}

.topnav .name {
  color: #43b75d;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.content {
    width: 70%;
    flex-grow: 2;
    padding: 0 2rem;
    text-align: start;
    align-items: flex-start;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    transition: 200ms;
}

.content h1 {
  width: 100%;
  font-size: clamp(2rem, 4rem, 4rem);
  color: #202020;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5rem;
}

.content .header {
  color: #43b75d;
  font-weight: 700;
}

.content p {
  width: 100%;
  width: clamp(250px, 100%, 600px);
  padding: 1rem 0;
  font-size: clamp(16px, 1.2em, 18px);
  line-height: 1.8rem;
}

.start-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  background-color: #43b75d;
  border-radius: 10px;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  transition: 300ms;
}

.call-center-button {
  display: block ;
  background-color: rgba(0, 128, 0, 0.192);
  color: #43b75d;
  padding: 1rem 1.4rem;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  transition: background-color 200ms;
}

.call-center-button {
    display: none !important;
}

.call-center-button:hover {
  background-color: rgba(0, 128, 0, 0.363);
}

.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons .button {
  width: 100%;
  line-height: 1.3rem;
  margin: 1rem 10px 0 0;
}

.start-button:hover {
  background-color: #43b75d;
}

.start-button:disabled {
  cursor: wait;
  background-color: rgb(142, 165, 142);
}


@media screen and (min-width: 701px) and (max-width: 949px){

  .hide-on-mb {
    display: block !important;
  }

  .image-container img{
    display: none;
  }

  .content {
    width: 100%;
    align-items: center;
    align-self: center;
    padding: 0 3rem;
  }

  .image-container img{
    width: 100%;
  }
}




@media screen and (max-width: 700px) {
  html,
  body {
    width: 100vw;
    height: 100%;
    font-family: "Rubik", sans-serif;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    align-self: start;
    font-weight: 400;
    background: #f1f1f1;
  }

  .page-content{
    height: auto;
    width: 95%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .image-container img {
      width: auto;
      height: auto;
  }

  .topnav {
    width: 20%;
    padding: 1rem 0;
    transition: 300ms;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    align-content: centers;
    margin: auto;
  }

  .topnav .logo img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
  }

  .topnav .name {
    color: #43b75d;
    font-weight: 600;
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    margin: 0 1rem;
  }

  .content {
    width: 100%;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: 200ms;
    margin: 3rem 0;
    padding: 0 1rem !important;
  }

  .content h1 {
    font-size: 3.5rem;
    line-height: 4rem;
  }

  .content h1 span {
    font-size: 2.5rem;
  }

  .image-container img{
    flex-grow: 3;
    height: 70vh;
    width: 100%;
    }

  .hide-on-mb {
      display: block !important;
  }
  .buttons {
    display: flex;
    flex-direction: column;
  }
}
